@import 'config';
@import 'menu';
@import 'mobile';
@import 'project';
@import 'about';
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css?family=Niramit&display=swap');

* {
    box-sizing: border-box;
}

body {
  
    background-image:
    linear-gradient(to bottom, rgba(141, 141, 141, 0.52), rgba(14, 14, 14, 0.88)),
    url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
    &.lg-heading {
        font-size: 6rem;
        font-family: 'Indie Flower', cursive;
        line-height: 1;
        line-height: 0.8;
    display: inline-block;
    border-bottom: 1px solid $secondary-color;
    }

}
a {
    color: #fff;
    text-decoration: none;
}
header {
    position: fixed;
    z-index: 1000;
    width: 100%;
}
main {
    padding: 60px 100px 30px 100px;
    height: 100%;  
    
    .sm-heading {
        font-family: 'Niramit', sans-serif;
    }
    &#home {
        overflow: hidden;
        h1 {
            margin-top: 10vh;
            display: inline-block;
            border-bottom: 1px solid #f9b8ee;
            line-height: 0.8;
        }
    }
}
.contact-container {
    background-color: #272727c9;
    position: relative;
    display: flex;
    box-shadow: 0 0 25px 1px #535353;
}
.contact_m {
    position: absolute;
    right: 0;
    .content_c {
        overflow: hidden;
    }

}
.contact_m:hover {
    .content_c {
      
        transition: 0.5s ease-in;
        // transform: translate3d(100%, 0, 0);
    }
}
.phone_n, .phone_m, .about_f, .about_g {
    position: absolute;
    left: 0;
    width: 44px;
    background: #40404087;
    cursor: pointer;
    transition: .7s;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.phone_n {
    top: 25%;
}

.about_f {
    top: 30%;
}
.about_g {
    top: 35%;
}
.phone_m {
    top: 40%;
}
.phone_n:hover, .about_f:hover, .about_g:hover {
    width: 220px;
}
.phone_m:hover  {
    width: 280px;
}
.phone_n:hover i,  
.phone_m:hover i,
.about_f:hover i,
.about_g:hover i  
{
color: $secondary-color;
}

.phone_n i, .phone_m i, .about_g i,  .about_f i {
    color: $icon-color;
    margin-right: 20px;
}
.phone_n i, .about_f i, .about_g i {
    font-size: 50px;
}
.phone_m i  {
    font-size: 44px;
}

.about_f a, .about_g a {
    display: flex;
    align-items: center;
}